ysh/domains/ap2/workflows/kestra/credentials_provider_flow.yml
id: ysh.ap2.credentials_provider_mcp
namespace: ysh.ap2
description: >-
  Workflow Kestra que automatiza a chamada ao endpoint MCP do CredentialsProviderAgent
  para fornecer métodos de pagamento, endereço de entrega e tokenização segura
  de credenciais conforme o protocolo AP2.
inputs:
  - name: cart_mandate_json
    type: STRING
    required: true
    description: Mandato de carrinho assinado pelo comerciante (JSON serializado).
  - name: payment_method_id
    type: STRING
    required: true
    description: Identificador do método de pagamento preferido pelo usuário.
  - name: shipping_options_json
    type: STRING
    required: true
    description: Opções para recuperar endereço de entrega (use "{}" quando não houver preferências).
tasks:
  - id: fetch_payment_methods
    type: io.kestra.plugin.core.http.Http
    method: POST
    uri: "http://credentials-provider:8002/mcp/credentials_provider"
    contentType: application/json
    body: |
      {
        "context": {
          "source": "kestra.credentials_provider_mcp"
        },
        "skill": {
          "id": "get_eligible_payment_methods",
          "parameters": {
            "cart_mandate": {{ inputs.cart_mandate_json }}
          }
        }
      }
  - id: fetch_shipping_address
    type: io.kestra.plugin.core.http.Http
    method: POST
    uri: "http://credentials-provider:8002/mcp/credentials_provider"
    contentType: application/json
    body: |
      {
        "context": {
          "source": "kestra.credentials_provider_mcp"
        },
        "skill": {
          "id": "get_shipping_address",
          "parameters": {
            "options": {{ inputs.shipping_options_json }}
          }
        }
      }
  - id: create_payment_token
    type: io.kestra.plugin.core.http.Http
    method: POST
    uri: "http://credentials-provider:8002/mcp/credentials_provider"
    contentType: application/json
    body: |
      {
        "context": {
          "source": "kestra.credentials_provider_mcp"
        },
        "skill": {
          "id": "create_payment_credential_token",
          "parameters": {
            "payment_method_id": "{{ inputs.payment_method_id }}",
            "cart_mandate": {{ inputs.cart_mandate_json }}
          }
        }
      }
  - id: sign_payment_mandate
    type: io.kestra.plugin.core.http.Http
    method: POST
    uri: "http://credentials-provider:8002/mcp/credentials_provider"
    contentType: application/json
    body: |
      {
        "context": {
          "source": "kestra.credentials_provider_mcp"
        },
        "skill": {
          "id": "sign_payment_mandate",
          "parameters": {
            "cart_mandate": {{ inputs.cart_mandate_json }},
            "payment_mandate_contents": {{ outputs.create_payment_token.body }}
          }
        }
      }
