ysh/domains/origination-viabilidade/workflows/kestra/viability_and_economics.yml
id: ysh.orig.viability_and_economics
namespace: ysh.origination
inputs:
  - name: lead_id
    type: STRING
  - name: lat
    type: DOUBLE
  - name: lon
    type: DOUBLE
  - name: capex
    type: DOUBLE
  - name: opex
    type: DOUBLE
tasks:
  - id: call_viability
    type: io.kestra.plugin.core.http.Http
    method: POST
    uri: "http://viability_service:8010/tools/viability.compute"
    contentType: application/json
    body: |
      {"lat": {{ inputs.lat }}, "lon": {{ inputs.lon }}}
  - id: call_tariffs
    type: io.kestra.plugin.core.http.Http
    method: POST
    uri: "http://aneel_tariffs:8011/tools/aneel.tariffs.profile.build"
    contentType: application/json
    body: |
      {"rows": []}
  - id: call_economics
    type: io.kestra.plugin.core.http.Http
    method: POST
    uri: "http://viability_service:8010/tools/economics.evaluate"
    contentType: application/json
    body: |
      {"kwh_year": {{ outputs.call_viability.body.kwh_year }}, "tariff_profile": {"cents_per_kwh": 120}, "capex": {{ inputs.capex }}, "opex": {{ inputs.opex }}}
  - id: emit_completed
    type: io.kestra.plugin.core.log.Log
    message: "Emit viability.completed.v1 com resultados"
